@model IEnumerable<InmobiliariaLucero.Models.Pago>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCon)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdPago }) |
                @Html.ActionLink("Detalles", "Details", new {id=item.IdPago}) |
                @Html.ActionLink("Eliminar", "Delete", new {id=item.IdPago})
            </td>
        </tr>
}
    </tbody>
</table>
